# Overall Per-User Summary Across Stress, Aerobic, and Anaerobic Sessions (Multi-Signal)

This notebook creates an overall per-user summary using multiple wearable signals from the Empatica E4 dataset.  
We compute simple statistical summaries (mean and std) for each user in each condition (stress, aerobic, anaerobic) using:  
EDA, HR, TEMP, ACC magnitude (movement), and BVP.  
The final output helps compare physiological responses across different states and participants.

In [34]:
# import basic libraries
import os
import numpy as np
import pandas as pd

In [35]:
# main dataset folder path (update if needed)
BASE_PATH = r"C:\Users\KARAN\Downloads\Internship Project\Wearable_Dataset\Wearable_Dataset"

# create paths for each condition
STRESS_PATH = os.path.join(BASE_PATH, "STRESS")
AEROBIC_PATH = os.path.join(BASE_PATH, "AEROBIC")
ANAEROBIC_PATH = os.path.join(BASE_PATH, "ANAEROBIC")

print("Dataset paths loaded successfully")

Dataset paths loaded successfully

In [36]:
# function to read EDA, HR, TEMP, BVP (1 column signals)
def read_empatica_1col(file_path):
    
    # read CSV file
    raw = pd.read_csv(file_path, header=None)
    
    # actual signal values start from row 3
    values = raw.iloc[2:, 0].astype(float).values
    
    return values

In [37]:
# function to compute accelerometer magnitude
def read_acc_magnitude(acc_path):
    
    # read raw accelerometer file
    acc_raw = pd.read_csv(acc_path, header=None)
    
    # get X, Y, Z columns (skip first 2 rows)
    acc_xyz = acc_raw.iloc[2:, :3].astype(float).values
    
    # compute magnitude = sqrt(x^2 + y^2 + z^2)
    magnitude = np.sqrt(
        acc_xyz[:, 0]**2 +
        acc_xyz[:, 1]**2 +
        acc_xyz[:, 2]**2
    )
    
    return magnitude

In [38]:
# function to safely compute mean and std
# if signal is missing or empty, return NaN
def safe_mean_std(values):
    
    if values is None or len(values) == 0:
        return np.nan, np.nan
    
    mean_val = float(np.mean(values))
    std_val = float(np.std(values))
    
    return mean_val, std_val

In [39]:
# this function computes summary statistics for one subject
def get_subject_summary(subject_folder_path):
    
    # define file paths
    eda_path = os.path.join(subject_folder_path, "EDA.csv")
    hr_path = os.path.join(subject_folder_path, "HR.csv")
    temp_path = os.path.join(subject_folder_path, "TEMP.csv")
    bvp_path = os.path.join(subject_folder_path, "BVP.csv")
    acc_path = os.path.join(subject_folder_path, "ACC.csv")
    
    # if EDA is missing, skip this subject
    if not os.path.exists(eda_path):
        return None
    
    # read signals
    eda = read_empatica_1col(eda_path)
    hr = read_empatica_1col(hr_path) if os.path.exists(hr_path) else None
    temp = read_empatica_1col(temp_path) if os.path.exists(temp_path) else None
    bvp = read_empatica_1col(bvp_path) if os.path.exists(bvp_path) else None
    acc_mag = read_acc_magnitude(acc_path) if os.path.exists(acc_path) else None
    
    # compute mean and std for each signal
    eda_mean, eda_std = safe_mean_std(eda)
    hr_mean, hr_std = safe_mean_std(hr)
    temp_mean, temp_std = safe_mean_std(temp)
    bvp_mean, bvp_std = safe_mean_std(bvp)
    acc_mean, acc_std = safe_mean_std(acc_mag)
    
    # return dictionary
    return {
        "eda_mean": eda_mean, "eda_std": eda_std,
        "hr_mean": hr_mean, "hr_std": hr_std,
        "temp_mean": temp_mean, "temp_std": temp_std,
        "bvp_mean": bvp_mean, "bvp_std": bvp_std,
        "acc_mean": acc_mean, "acc_std": acc_std
    }

In [40]:
# function to collect summaries for all subjects in a condition
def collect_condition(condition_path, condition_name):
    
    rows = []
    
    # list all subject folders
    subjects = sorted([
        s for s in os.listdir(condition_path)
        if os.path.isdir(os.path.join(condition_path, s))
    ])
    
    # loop through each subject
    for subject in subjects:
        
        subj_path = os.path.join(condition_path, subject)
        
        summary = get_subject_summary(subj_path)
        
        if summary is None:
            continue
        
        # create row dictionary
        row = {"subject": subject, "condition": condition_name}
        row.update(summary)
        
        rows.append(row)
    
    return pd.DataFrame(rows)

In [41]:
# collect summaries for stress, aerobic, and anaerobic
stress_df = collect_condition(STRESS_PATH, "stress")
aerobic_df = collect_condition(AEROBIC_PATH, "aerobic")
anaerobic_df = collect_condition(ANAEROBIC_PATH, "anaerobic")

# combine all into one dataframe
overall_df = pd.concat(
    [stress_df, aerobic_df, anaerobic_df],
    ignore_index=True
)

print("Total rows in combined summary:", len(overall_df))
display(overall_df.head())

Total rows in combined summary: 100

,subject,condition,eda_mean,eda_std,hr_mean,hr_std,temp_mean,temp_std,bvp_mean,bvp_std,acc_mean,acc_std
0,S01,stress,0.643730,0.143060,64.518334,10.728472,33.429420,0.440674,0.001251,59.577254,63.770533,2.768202
1,S02,stress,1.149615,0.356382,97.605146,27.201427,34.025904,0.313551,0.007915,46.290369,61.804389,1.717103
2,S03,stress,2.725394,2.043679,76.825209,14.574857,31.478544,0.378386,0.000887,76.599326,61.359186,1.763488
3,S04,stress,1.097917,0.594482,62.228672,8.454042,32.875733,0.215317,-0.003054,32.391408,61.706599,1.870639
4,S05,stress,14.095163,3.822214,77.002470,13.278766,33.580589,0.181167,0.011029,75.442597,63.862339,4.515905

In [42]:
# create pivot tables for mean values per user per condition

pivot_eda = overall_df.pivot_table(
    index="subject", columns="condition", values="eda_mean"
)

pivot_hr = overall_df.pivot_table(
    index="subject", columns="condition", values="hr_mean"
)

pivot_temp = overall_df.pivot_table(
    index="subject", columns="condition", values="temp_mean"
)

pivot_acc = overall_df.pivot_table(
    index="subject", columns="condition", values="acc_mean"
)

pivot_bvp = overall_df.pivot_table(
    index="subject", columns="condition", values="bvp_mean"
)

# display clean rounded tables
print("EDA Mean Per User")
display(pivot_eda.round(3))

print("HR Mean Per User")
display(pivot_hr.round(3))

print("TEMP Mean Per User")
display(pivot_temp.round(3))

print("ACC Mean Per User")
display(pivot_acc.round(3))

print("BVP Mean Per User")
display(pivot_bvp.round(3))

EDA Mean Per User

condition  aerobic  anaerobic  stress
subject
S01          3.465      6.072   0.644
S02         22.775      8.261   1.150
S03            NaN      1.045   2.725
S03_        13.175        NaN     NaN
S04         21.884      3.343   1.098
S05         16.174     41.501  14.095
S06          3.270        NaN   3.708
S06_           NaN     11.684     NaN
S07            NaN      0.283   0.258
S07_         6.061        NaN     NaN
S08         10.137      1.976   0.600
S09          3.452      1.411   0.323
S10         22.510     16.139  28.059
S11            NaN      2.427   0.288
S11_a        3.817        NaN     NaN
S11_b        4.614        NaN     NaN
S12            NaN      9.039   7.525
S13          6.488      1.366   2.190
S14         11.734      7.708   3.482
S15          3.945     12.225   1.356
S16          3.691        NaN   0.957
S16_a          NaN      2.854     NaN
S16_b          NaN     21.690     NaN
S17          0.621     17.484  14.635
S18          1.924     10.360   9.690
f01          4.360      7.110   0.504
f02          1.396      4.049   1.479
f03          3.526      4.308   5.252
f04          1.828      1.732   0.142
f05          2.764      0.695   0.497
f06         13.715      9.530   0.670
f07          4.438      0.895   0.199
f08          2.414      5.472   0.472
f09          2.216      2.105   0.387
f10          5.359      8.289   1.646
f11         36.571      5.750  17.150
f12          5.060      7.915   0.191
f13         10.210      5.755   0.247
f14_a          NaN        NaN   0.443
f14_b          NaN        NaN   3.201
f15            NaN        NaN   6.814
f16            NaN        NaN   0.474
f17            NaN        NaN   0.278
f18            NaN        NaN   0.238

HR Mean Per User

condition  aerobic  anaerobic   stress
subject
S01        107.575     88.029   64.518
S02        127.322     74.850   97.605
S03            NaN    109.179   76.825
S03_       122.335        NaN      NaN
S04        116.120     94.000   62.229
S05        101.963    105.717   77.002
S06         88.644        NaN   90.997
S06_           NaN    102.424      NaN
S07            NaN     94.446   78.461
S07_       104.634        NaN      NaN
S08         94.181    107.916   69.238
S09         85.700     97.238   84.972
S10        108.248    112.007   80.006
S11            NaN     81.676   72.387
S11_a       88.325        NaN      NaN
S11_b       85.558        NaN      NaN
S12            NaN     97.973   65.422
S13        112.926    100.383   98.882
S14        100.751    104.794   81.282
S15         91.347    109.696   81.268
S16         99.138        NaN   82.561
S16_a          NaN    106.455      NaN
S16_b          NaN    129.470      NaN
S17         85.593     87.459   69.993
S18         90.071     75.475   78.856
f01        113.462    104.985   67.905
f02         86.425    105.976   74.159
f03         85.969     89.145   77.077
f04         94.509    106.236   78.583
f05         91.001     88.239   72.866
f06        141.893    107.353   79.586
f07        130.250     96.835  112.639
f08         87.299    101.925   82.191
f09        117.183     88.025   67.005
f10         84.829     74.242   95.007
f11        120.805     87.193   88.428
f12         86.162     92.052   83.677
f13         88.144     97.994   75.167
f14_a          NaN        NaN   82.599
f14_b          NaN        NaN   79.294
f15            NaN        NaN   74.869
f16            NaN        NaN   72.831
f17            NaN        NaN  100.595
f18            NaN        NaN   77.807

TEMP Mean Per User

condition  aerobic  anaerobic  stress
subject
S01         32.468     32.192  33.429
S02         32.778    200.874  34.026
S03            NaN     31.506  31.479
S03_        34.140        NaN     NaN
S04         32.626     32.178  32.876
S05         33.193    142.847  33.581
S06         31.458        NaN  33.699
S06_           NaN     31.959     NaN
S07            NaN     30.675  30.404
S07_       211.937        NaN     NaN
S08         31.760     33.694  33.114
S09         48.425     33.839  33.580
S10         34.622     34.738  32.103
S11            NaN     32.562  32.659
S11_a       33.831        NaN     NaN
S11_b       33.742        NaN     NaN
S12            NaN     31.268  34.146
S13         33.657     32.441  34.275
S14         33.278     29.404  32.729
S15         32.708     34.314  31.847
S16         32.122        NaN  30.974
S16_a          NaN     31.909     NaN
S16_b          NaN     30.794     NaN
S17         30.953     32.763  34.273
S18         30.469     31.493  33.038
f01         31.897     34.599  31.840
f02         31.428     33.945  32.620
f03         33.137     32.170  33.464
f04         31.799     33.000  30.778
f05         32.413     28.352  30.070
f06         34.692     30.569  31.658
f07         31.903     29.756  28.204
f08         25.296     33.970  30.111
f09         30.463     32.024  31.085
f10         30.959     29.967  35.748
f11         32.591     31.942  37.031
f12         31.929     33.687  31.452
f13         33.379     32.211  31.103
f14_a          NaN        NaN  34.286
f14_b          NaN        NaN  34.781
f15            NaN        NaN  32.161
f16            NaN        NaN  32.959
f17            NaN        NaN  33.663
f18            NaN        NaN  30.275

ACC Mean Per User

condition  aerobic  anaerobic  stress
subject
S01         63.521     64.644  63.771
S02         63.863     64.731  61.804
S03            NaN     62.332  61.359
S03_        64.642        NaN     NaN
S04         64.344     64.892  61.707
S05         64.553     64.277  63.862
S06         64.346        NaN  63.606
S06_           NaN     64.448     NaN
S07            NaN     64.062  62.550
S07_        64.216        NaN     NaN
S08         64.449     63.905  61.628
S09         64.612     64.846  63.140
S10         62.621     64.447  61.956
S11            NaN     64.958  62.724
S11_a       62.703        NaN     NaN
S11_b       63.388        NaN     NaN
S12            NaN     64.978  62.053
S13         64.757     64.857  63.758
S14         64.513     65.043  62.349
S15         62.902     65.398  62.051
S16         64.143        NaN  61.976
S16_a          NaN     62.526     NaN
S16_b          NaN     62.532     NaN
S17         64.635     64.594  64.184
S18         62.498     64.717  63.701
f01         64.976     64.260  65.106
f02         64.429     64.116  64.295
f03         64.957     64.665  64.775
f04         64.821     65.323  62.849
f05         63.614     64.494  63.611
f06         64.709     65.236  64.686
f07         64.488     63.614  64.137
f08         64.987     64.779  64.572
f09         63.713    134.903  63.439
f10         64.889     64.775  64.616
f11         63.582     64.135  64.615
f12         63.755     63.538  64.023
f13         65.201     65.227  64.382
f14_a          NaN        NaN  64.912
f14_b          NaN        NaN  64.366
f15            NaN        NaN  63.911
f16            NaN        NaN  63.608
f17            NaN        NaN  64.644
f18            NaN        NaN  64.349

BVP Mean Per User

condition  aerobic  anaerobic  stress
subject
S01         -0.004     -0.006   0.001
S02          0.003     -0.002   0.008
S03            NaN     -0.024   0.001
S03_         0.002        NaN     NaN
S04          0.005     -0.002  -0.003
S05          0.017      0.005   0.011
S06         -0.001        NaN  -0.003
S06_           NaN      0.027     NaN
S07            NaN     -0.011   0.002
S07_         0.003        NaN     NaN
S08          0.012      0.002  -0.004
S09         -0.004     -0.006  -0.019
S10          0.005      0.000   0.022
S11            NaN      0.001   0.019
S11_a        0.018        NaN     NaN
S11_b        0.003        NaN     NaN
S12            NaN     -0.007   0.004
S13          0.007      0.002   0.020
S14         -0.004      0.012  -0.003
S15          0.012      0.014  -0.009
S16          0.002        NaN   0.007
S16_a          NaN     -0.007     NaN
S16_b          NaN     -0.008     NaN
S17          0.001     -0.016  -0.003
S18         -0.002      0.010  -0.001
f01          0.004      0.010  -0.004
f02         -0.009      0.009   0.006
f03          0.013      0.013  -0.011
f04          0.000      0.004   0.016
f05          0.003      0.021   0.003
f06         -0.003      0.003   0.001
f07          0.000     -0.015  -0.004
f08          0.008      0.035   0.028
f09          0.011     -0.023   0.013
f10          0.029      0.038   0.009
f11         -0.001     -0.033   0.023
f12         -0.008      0.014  -0.001
f13          0.001      0.003  -0.006
f14_a          NaN        NaN  -0.014
f14_b          NaN        NaN  -0.001
f15            NaN        NaN   0.005
f16            NaN        NaN   0.001
f17            NaN        NaN   0.007
f18            NaN        NaN  -0.006

In [43]:
# save full summary
overall_df.to_csv("overall_per_user_multisignal_summary.csv", index=False)

# save pivot tables
pivot_eda.to_csv("pivot_EDA_mean.csv")
pivot_hr.to_csv("pivot_HR_mean.csv")
pivot_temp.to_csv("pivot_TEMP_mean.csv")
pivot_acc.to_csv("pivot_ACC_mean.csv")
pivot_bvp.to_csv("pivot_BVP_mean.csv")

print("All summary files saved successfully")

All summary files saved successfully

## Conclusion

We created an overall multi-signal summary for each participant across stress, aerobic, and anaerobic sessions. By computing mean physiological values per condition, we were able to compare how wearable signals change between different activity states.

The results show meaningful differences across conditions, confirming that multi-signal wearable data can effectively represent physiological variations and support stress classification models.